In [6]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../../data/processed/tq_data_gridded/df_tot_gridded.csv")

In [3]:
df.head()

  ticker        sip_timestamp  mid_price_log_return
0   ADSK  2024-09-03 13:30:01              -0.00021
1   ADSK  2024-09-03 13:30:02               0.00000
2   ADSK  2024-09-03 13:30:03               0.00000
3   ADSK  2024-09-03 13:30:04               0.00000
4   ADSK  2024-09-03 13:30:05               0.00000

In [4]:
df.describe()

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/numpy/core/_methods.py:49: RuntimeWarning: invalid value encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)

       mid_price_log_return
count            44443650.0
mean                    NaN
std                     NaN
min                    -inf
25%                     0.0
50%                     0.0
75%                     0.0
max                     inf

In [7]:
df[df["mid_price_log_return"].isin([-np.inf, np.inf])]

        ticker        sip_timestamp  mid_price_log_return
8326356   CLDX  2024-09-25 15:01:11                  -inf
8326357   CLDX  2024-09-25 15:01:12                   inf