In [1]:
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import LSTM

In [5]:
df = pd.read_csv("../../data/processed/tq_data_gridded/2024-09-03_gridded.csv")
df.head()

,ticker,sip_timestamp,ask_price,ask_size,bid_price,bid_size,last_trade_price,last_trade_size,mid_price
0,ADSK,2024-09-03 09:31:00,265.90,1.0,250.0100,1.0,259.0200,10.0,257.9550
1,ADSK,2024-09-03 09:31:10,265.90,1.0,250.0100,1.0,259.0100,4.0,257.9550
2,ADSK,2024-09-03 09:31:20,265.90,1.0,250.0100,1.0,259.0100,4.0,257.9550
3,ADSK,2024-09-03 09:31:30,265.90,1.0,250.0100,1.0,259.0100,4.0,257.9550
4,ADSK,2024-09-03 09:31:40,265.90,1.0,250.0100,1.0,259.0100,4.0,257.9550
...,...,...,...,...,...,...,...,...,...
152469,XTNT,2024-09-03 15:58:50,0.69,11.0,0.6646,3.0,0.6760,49.0,0.6773
152470,XTNT,2024-09-03 15:59:00,0.69,11.0,0.6646,3.0,0.6760,49.0,0.6773
152471,XTNT,2024-09-03 15:59:10,0.69,11.0,0.6646,3.0,0.6760,49.0,0.6773
152472,XTNT,2024-09-03 15:59:20,0.69,11.0,0.6646,3.0,0.6760,49.0,0.6773
152473,XTNT,2024-09-03 15:59:30,0.69,11.0,0.6646,3.0,0.6646,100.0,0.6773

In [10]:
datapoints_per_ticker = df.groupby(by="ticker")["sip_timestamp"].apply("count").sort_values(ascending=False)
datapoints_per_ticker.head()

ticker
CB     2340
WBA    2340
UNP    2340
MMM    2339
TXN    2339
Name: sip_timestamp, dtype: int64

In [ ]:
ticker = datapoints_per_ticker.iloc[0]
ticker