In [17]:
import pandas as pd
import numpy as np

In [18]:
df = pd.read_csv("../../data/processed/tq_data_gridded/df_tot_gridded.csv")

In [19]:
df.head()

  ticker        sip_timestamp  mid_price_log_return
0   ADSK  2024-09-03 13:30:01              -0.00021
1   ADSK  2024-09-03 13:30:02               0.00000
2   ADSK  2024-09-03 13:30:03               0.00000
3   ADSK  2024-09-03 13:30:04               0.00000
4   ADSK  2024-09-03 13:30:05               0.00000

In [20]:
df.describe()

       mid_price_log_return
count          4.444365e+07
mean          -2.730958e-06
std            1.451015e-02
min           -5.730569e+00
25%            0.000000e+00
50%            0.000000e+00
75%            0.000000e+00
max            5.466521e+00

In [21]:
mask = df["mid_price_log_return"].isin([-np.inf, np.inf])
hard_coded_mask = [8326355, 8326356, 8326357, 8326358]
df.loc[hard_coded_mask, :]

        ticker        sip_timestamp  mid_price_log_return
8326355   CLDX  2024-09-25 15:01:10              0.000000
8326356   CLDX  2024-09-25 15:01:11              0.000000
8326357   CLDX  2024-09-25 15:01:12             -0.009635
8326358   CLDX  2024-09-25 15:01:13              0.000000