In [5]:
import pandas as pd

In [6]:
for day in ["03", "04", "05", "06", "09", "10", "11", "12"]:
    print(day)
    path = "../data/raw/2024-09-" + day + ".csv"
    df = pd.read_csv(path)
    df = df[["ticker", "sip_timestamp", "price", "size"]]
    df.to_csv(path)

03

/var/folders/js/9hpr3tt17xd6ttv9xy3zrhw80000gn/T/ipykernel_36333/3816312357.py:4: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path)

04

/var/folders/js/9hpr3tt17xd6ttv9xy3zrhw80000gn/T/ipykernel_36333/3816312357.py:4: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path)

05

/var/folders/js/9hpr3tt17xd6ttv9xy3zrhw80000gn/T/ipykernel_36333/3816312357.py:4: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path)

06

/var/folders/js/9hpr3tt17xd6ttv9xy3zrhw80000gn/T/ipykernel_36333/3816312357.py:4: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path)

09

/var/folders/js/9hpr3tt17xd6ttv9xy3zrhw80000gn/T/ipykernel_36333/3816312357.py:4: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path)

10

/var/folders/js/9hpr3tt17xd6ttv9xy3zrhw80000gn/T/ipykernel_36333/3816312357.py:4: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path)

11

/var/folders/js/9hpr3tt17xd6ttv9xy3zrhw80000gn/T/ipykernel_36333/3816312357.py:4: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path)

12

/var/folders/js/9hpr3tt17xd6ttv9xy3zrhw80000gn/T/ipykernel_36333/3816312357.py:4: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path)

In [7]:
df

         ticker        sip_timestamp     price  size
0             A  1726133926898729728  140.0000     1
1             A  1726142419201882368  140.0000     2
2             A  1726142421470382848  138.7000     1
3             A  1726142522132558592  138.7000     1
4             A  1726142542908188416  138.7000     1
...         ...                  ...       ...   ...
74652378    ZZZ  1726151033361499772   24.0901    20
74652379    ZZZ  1726162390558167140   24.2000     1
74652380    ZZZ  1726171137615066711   24.2500     1
74652381    ZZZ  1726171200112170587   24.2323   100
74652382    ZZZ  1726172100009194367   24.2323     0

[74652383 rows x 4 columns]

In [9]:
import sys, os
sys.path.append(os.path.join(os.getcwd(), "../"))
from src.data.DataProcessor import DataProcessor

ImportError: cannot import name 'DataProcessor' from 'src.data.DataProcessor' (/Users/erikmjaanes/ProjectThesis/notebooks/../src/data/DataProcessor.py)